table {border-collapse: collapse}
th, td {
  border: 1px #DDD solid;
  padding: 2px 8px;
}
th {
  background: #EEE;
}
tr{
  transition: :all .25s ease-in-out
}
tr:hover{
  background-color: #EEE; cursor: pointer
}
input, select {
  display: inline;
  width: 20%;
  padding: 6px;
  margin: 5px 10px 5px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  vertical-align: middle;
}
textarea{
  width: 20%;
  padding: 6px;
  margin: 5px 10px 5px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}
DIV.tab
{
  width: 80%;
  margin-right: auto;
  margin-left: left;
  overflow: hidden;
  zoom: 1;
  padding-bottom: 50px;
}
.myForm {
flex-flow: row wrap;
margin: 20px auto;
}
body {
  background-color: #F2F2F2
}
